<!DOCTYPE html>
<html >
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body >
  <h1>Angular with Require JS </h1>
  <a href="#/">Home</a> | <a href="#/module">Module</a>
  </hr>
  <ng-view ></ng-view>

  <script type="text/javascript" src="bower_components/requirejs/require.js" data-main="javascripts/main.js"></script>
  </body>
</html>
